<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form method="post" action="/app/add">
    <input name="name" placeholder="Type name here"/>
    <p>
    </p>
    <input name="surname" placeholder="Type surname here"/>
    <p>
    </p>
    <input name="address" placeholder="Type address here"/>
    <p>
    </p>
    <input name="telephone" placeholder="Type telephone number here"/>
    <p>
        <input
                type="hidden"
                th:name="${_csrf.parameterName}"
                th:value="${_csrf.token}" />
        <button>Send</button>
    </p>
</form>
</body>
</html>